$primary-green: #2C5B2D;
$secondary-green: #256d3d;

$primary-yellow: #F68712;
$secondary-yellow: #FAA954;

$background: #fdf6e6;

$text-dark: #1b1b1b;
$text-white: #ffffff;
$text-gray:  rgb(118, 114, 114);

$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
$border: .15rem solid rgb(232, 230, 230);
$bg-border:  rgb(232, 230, 230);

/*
#F68712
#FAA954
#FFE4BC(orange clair)
Vert grise #4E7049
Vert grise foncé #2C5B2D 
*/